@{
    ViewData["Title"] = "Travel";
}

<body>

    <br />

    <h1 class="mt-4 display-6 text-center">@ViewData["Title"]</h1>

    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <img src="/img/aatrav.jpg" alt="AA Travel" class="rounded img-thumbnail" />
                    <p class="h3">'End of an era': AA to stop publishing free maps and travel guides</p>
                </div>
                <div class="col-4">
                    <div>
                        <img src="/img/ttokfly.webp" alt="WestJet passenger" class="rounded img-thumbnail" width="200" />
                        <h5>
                            TikTok shows WestJet passenger stuck in airport hallway for two hours
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/nztravel.jpg" alt="NZ Travel experience" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Has the NZ travel experience changed irrevocably since reopening to the world a year ago?
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/noicecream.jpg" alt="No Ice Cream on flights" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Why you won't be getting ice cream on your next flight
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <hr />
    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="/img/pparker.webp" alt="Posie Parker" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        New Zealand reviewing anti-trans activist Posie Parker’s travel plans after Nazi incident
                    </h5>
                    <hr />
                    <p class="text-center">
                        The anti-trans activist, better known as Posie Parker, is due to enter the country for her 
                        ‘Let Women Speak’ tour on 25 March 2023. The British activist held a chaotic anti-trans rally 
                        on the Parliament House steps in Melbourne, which was attended by members of the far-right 
                        National Socialist Movement (NSM) Neo-Nazi group on Saturday (18 March).
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/btourism.jpg" alt="Bali moped" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        Bali publishes six rules for returning tourists: moped bans and online morality
                    </h5>
                    <hr />
                    <p class="text-center">
                        After a slew of motoring incidents and a proposed ban on tourists hiring self-drive mopeds, 
                        it’s clear that the resort island of Bali is still coming to terms with the return of 
                        international tourists. With the Indonesian tourism industry celebrating the return of 2.1 
                        million visitors in 2022, following the Covid travel shutdown, there has been a less welcome 
                        resurgence.
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/aterminal.jpg" alt="Auckland Airport" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        Cheat sheet: What does Auckland Airport’s new terminal mean for travellers?
                    </h5>
                    <hr />
                    <p class="text-center">
                        After 12 years of planning, Auckland Airport last week revealed that , work was finally going 
                        to begin on the brand-new domestic terminal, bringing international and domestic passengers 
                        under one roof. Patrick Strange, Auckland Airport’s Chair said the existing domestic terminal 
                        was “no longer fit for purpose” and hadn’t been for “some time”.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />


</body>